.card {
  height: 200px;
  width: 100%;
  background-color: #faf5f5;
  border-radius: 10px;
  border: 1px solid #adaaaa;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 15px;
  font-family: sans-serif;
  justify-content: space-around;
  position: relative;
}

.deleteBtn{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  height: 35px;
  width: 35px;
  background-image: url('https://cdn-icons-png.flaticon.com/128/4585/4585810.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapAvatar {
  width: 150px !important;
  height: 150px;
  border: 1px solid #adaaaa;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.name {
  font-size: 20px;
  margin-bottom: 5px;
}

.role {
  font-size: 14px;
}

.button{
  background-color: #e0afb2;
  border: 1px solid #adaaaa;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
}

.button,.deleteBtn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.tooltip{
  width: 200px;
  height: 300px;
  position: absolute;
  border: 1px solid #adaaaa;
  background-color: #fff;
  border-radius: 10px;
}
